*.class
*.log

# sbt specific
.cache
.history
.lib/
sbt/dist/*
sbt/target/
sbt/lib_managed/
sbt/src_managed/
sbt/project/boot/
sbt/project/plugins/project/
sbt/project/target/
sbt/project/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
